@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Prata&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Montserrat, sans-serif;
    --main-color: #23263a;
    --second-color: #646c8f;
}
body {
    max-width: 1440px;
    margin: auto;
}
.main_header_mobile {
    display: flex;
    justify-content: space-between;
    height: 88px;
    padding-top: 20px;
}
.name {
    font-family: Prata, serif;
    font-size: 26px;
    margin-left: 30px;
    margin-top: 2px;
}
#menu_toggle {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
    visibility: visible;
}
.menu_btn {
    display: block;
    position: relative;
    right: 30px;
    width: 24px;
    height: 16px;
    z-index: 1;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #171928;
}
.menu_btn > span::before {
    content: '';
    top: -7px;
}
.menu_btn > span::after {
    content: '';
    top: 7px;
}
.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    list-style: none;
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
}
.menu_box nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.menu_box nav li {
    text-decoration: none;
    margin-top: 25px;
}
.menu_box nav a{
    text-decoration: none;
    color: #23263a;
    font-weight: 500;
    font-size: 18px;
}
.tel{
    margin-top: 20px;
}
.tel a {
    color: #b5b5b5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.header-icon  {
    display: flex;
    justify-content: center;
    list-style: none;
}
.header-icon a img {
    height: 13px;
    width: 13px;
    margin: 20px 10px;
}
.header-button button{
    background-color: white;
    border-color:  rgb(251, 168, 127);
    border-style: solid;
    border-radius: 40px;
    height: 38px;
    width: 145px;
    font-size: 14px;
    font-weight: 700;
}
.deskpot-version {
    display: none;
}
@media (min-width: 990px) {
    .deskpot-version {
        display: block;
    }
    .main_header_mobile {
        display: none;
    }
    .subheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 74px 0 74px;
        height: 42px;
        background-color: rgb(127, 115, 187);
        }
    .tel {
        margin-top: 0;
    }
    .tel a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
    }
    .subheader .header-icon {
        display: flex;
        list-style-type: none;
    }
    .header-icon a {
        height: 13px;
        width: 13px;
    }
    .header-icon a img {
        display: flex;
        height: 13px;
        width: 13px;
        margin: 0;
    }
    .header-icon li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 15%;
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }
    .main_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 132px;
        margin: 0 40px;
    }
    .name {
        font-family: Prata, serif;
        font-size: 26px;
        margin-top: 0;
    }
    .main_header nav {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .main_header nav ul{
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        line-height: 30px;
    }
    .main_header nav li {
        font-size: 14px;
        font-weight: 500;
    }
    .main_header nav a{
        text-decoration: none;
        color: #23263a;
        margin: 0 20px;
    }
    .header-button button{
        background-color: white;
        border-color:  rgb(251, 168, 127);
        border-style: solid;
        border-radius: 15px;
        height: 50px;
        width: 113px;
        font-size: 14px;
        font-weight: 700;
        margin-right: 30px;
    }
    .header-button button:hover{
        background-color: rgb(251, 168, 127);
        cursor: pointer;
        color: white;
    }
}
@media (min-width: 1280px) {
    .main_header {
        height: 86px;
    }
    .header-button button {
        border-radius: 30px;
        height: 34px;
        width: 140px;
    }
}

.promo {
    background: url(../img/promo-background.png ) center center /cover no-repeat;
    height: 686px; 
    padding: 90px 24px;
    
}
.promo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.promo-text h1 {
    font-family: Prata, serif;
    font-size: 48px; 
    color: var(--main-color);
}
.promo-text p {
    font-size: 20px;
    color: #646c8f;
    line-height: 32px;
    margin-top: 20px;
}
.promo-text button {
    margin-top: 50px;
    background-color: white;
    color: #333758;
    border-style: none;
    border-radius: 40px;
    height: 57px;
    width: 204px;
    font-size: 16px;
    font-weight: 500;
}
.promo-text button:hover {
    background-color: rgb(127, 115, 187);
    color: white;
    cursor: pointer;
}
@media (min-width: 7700px) {
    .promo {
        padding: 90px 32px;
    }
}
@media (min-width: 990px) {
    .promo {
        height: 777px; 
        padding: 90px 40px;
    }
    .promo-text h1 {
        font-size: 56px;
        font-weight: 400;
    } 
    
}


#about_me {
    display: flex;
    flex-direction: column;
    height: 834px;
    padding: 90px 24px ;
    
}
.img-block {
    display: block;
    position: relative;
    overflow: hidden;
    width: initial;
    height: initial;
    min-height: 220px;
    min-width: 366px;
}
.img-block img {
    width: 100%;
    position: absolute;
    max-width: initial;
    max-height: initial;
}
.text_about_me h2 {
    font-family: Prata, serif;
    font-size: 34px;
    margin-top: 45px;
}
.text_about_me p {
    color: rgb(108,110,127);
    margin-top: 25px;
    font-size: 18px;
    line-height: 27px;     
}

@media( min-width: 770px) {
    #about_me {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
        height: 621px;
        padding: 90px 32px ;
    }
    .text_about_me {
        width: 50%;
        margin: 0 20px;
        
    }
    .text_about_me h2 {
        font-size: 41px;
    }

}
@media( min-width: 990px){
    #about_me {
        height: 631px;
        padding: 120px 40px;
    }
    .img-block {
        display: block;
        position: relative;
        overflow: hidden;
        height: 265px;
        width: 462px;
        padding: 0 15px;
    }
    .text_about_me h2 {
        font-size: 48px;
        margin: 0;
    }
}
    @media (min-width: 1130px){
    .img-block {
        display: block;
        position: relative;
        overflow: hidden;
        height: 313px;
        width: 520px;
    }
}

#treatments {
    max-height: 3000px;
    background: url(../img/treatmens-background.png) center center ;
    padding: 90px 24px;
}
#treatments h2 {
    font-family: Prta, serif;
    font-size: 48px;
    text-align: center;
    padding-top: 100px;
}
#treatments .treatments-subtitle {
    color: var(--second-color);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}
.teatment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.treatmen-window {
    position: relative;
    overflow: hidden;
    width: initial;
    margin: 15px 15px;
    border-width: 20px;
    border-color: white;
    border-style: solid;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.treatmen-window img {
    display: block;
    width: 100%;
    object-fit: cover;
    left: -30%;
    opacity:0.2; 
} 
.treatment-text {
    position: absolute;
    top:20%;
    z-index: 2;
    font-family: Montsserat, sans-serif;
    font-size: 18px;
    color:  rgb(251, 168, 127);
    text-align: center;
    align-items: center;
}
.treatment-text h4{
    margin-bottom: 10px;
}
.treatment-text p{
    color: white;
}


@media (min-width: 660px) {
    #treatments {
        padding: 90px 32px;
    }
    .teatment-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
     .treatment-text {
        top: 5%;
     }
}
 
@media (min-width: 990px) {
    #treatments {
        padding: 90px 40px;
    }
    .treatmen-window img {
        left: -35%;
        opacity: 1;
    }
    .treatment-text {
        top: 10%;
        z-index: -1;
    }
    .treatmen-window img:hover {
        opacity:0.2; 
    }
    .teatment-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery {
    background: url(../img/galery-background.png) center center /cover;
    min-height: 403px;
    padding: 0 50px;
}
.gallery h2 {
    font-family: Prata, serif;
    font-size: 34px;
    color: var(--main-color);
    font-weight: 400;
    text-align: center;
    margin: 50px 0;
    
}
.slideshow-container {
    max-width: 750px;
    max-height: 450px;
    position: relative;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: white;

}
.slides_item {
    flex: 0 0 50%; 
    max-width: 50%; 
    border-color: white;
    border-width: 20px;
    border-style: solid;
}
.slides_item img {   
    width: 100%;
    height: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    left: 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.gallery form{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.gallery button {
    background-color: white;
    border-color:  rgb(251, 168, 127);
    border-style: solid;
    border-radius: 15px;
    height: 38px;
    width: 131px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
@media (min-width: 770px) {
    #gallery {
        padding: 90px 32px;
    }
    .gallery h2 {
       font-size: 41px;
    }
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
}
@media (min-width: 990px) {
    #gallery {
        padding: 90px 40px;
    }
    .gallery h2 {
       font-size: 48px;
    }
}


#discounts {
    max-width: 1627px;
    display: flex;
    flex-direction: column;
    padding: 90px 24px;
}
.discount-header h2{
    font-size: 34px;
    font-family: Prata, serif;
    color: var(--main-color);
    text-align: center;
}
.discount-header p{
    font-size: 20px;
    color: var(--second-color);
    text-align: center;
    margin: 25px 0;
}
.discount-img {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    width: 370px;
    height: 290px;
}
.discount-img img{
    width: 100%;
    margin: 25px 0;
}
.discount-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 25px 0;
}
.discount-text h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 25px;
}
.discount-text span {
    font-size: 18px;
    font-weight: 700;
    color: #7f73bb;
    padding-bottom: 25px;
}
.discount-text p {
    font-size: 18px;
    color: var(--second-color);
    margin: 25px 0;
    line-height: 27px;
}
.discount-text a {
    text-decoration: none;
    color: #b5b5b5;
    font-size: 14px;
    margin: 10px 0;
}

@media (min-width: 770px) {
    #discounts {
        padding: 90px 32px;
    }
    .discount-header h2{
        font-size: 41px;
    }
    .discount-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .discount-text {
        max-width: 60%;
        padding-left: 30px ;
    }
}
@media (min-width: 990px) {
    #discounts {
        padding: 90px 40px;
    }
    .discount-header h2{
        font-size: 48px;
    }
}

#awards {
    background: url(../img/certificate-background.png) center center /cover;
    max-height: 2700px;
    padding: 90px 24px;
}
.awards-header h2{
    font-size: 34px;
    font-family: Prata, serif;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}
.certificate-block {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-width: 30px;
    border-color: #9b8edc;
    border-style: solid;
    margin: 45px 0;
}
.certificate-block img {
    width: 100%;
}

@media (min-width: 770px) {
    #awards {
        padding: 90px 32px;
    }
    .awards-header h2{
    font-size: 41px;
    }
    .certificate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

    }
    .certificate-block {
        margin: 0;
    }
}
@media (min-width: 990px) {
    #awards {
        padding: 90px 40px;
    }
    .awards-header h2{
    font-size: 48px;
    }
    .certificate {
        display: flex;
    }
}

#testimonials {
    max-height: 673px;
    padding: 90px 24px;
    display: flex;
    flex-direction: column;
}
.testimonials-header h2 {
    font-size: 34px;
    font-family: Prata, serif;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 25px;
}
.testimonials_slider {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.testimonials_img {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 70px; height: 70px;
    border-radius: 50%;
    margin: 30px auto;
}
.testimonials_img img{
    width: initial;
    transform: translate(-20px);
}
.testimonials_img_Wilson {
     display: flex;
    position: relative;
    overflow: hidden;
    width: 70px; height: 70px;
    border-radius: 50%;
    margin: 30px auto;
}
.testimonials_img_Wilson img{
    width: 100%;
    transform: translate(0px);
}
.testimonials-icon  {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 15px 0;
}
.testimonials-icon a img {
    height: 13px;
    width: 13px;
}
.testimonials-icon li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f73bb;
    border-radius: 15%;
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.testimonials_text h4{
    font-size: 24px ;
    color: var(--main-color);
    font-weight: 500;
    margin: 15px 0;
}
.testimonials_text p{
    font-size: 18px;
    color: #6c6e7f;
    font-weight: 400;
    line-height: 27px;
    margin: 15px 0;
}
.prev_testimonials, .next_testimonials {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev_testimonials {
    left: 0;
}
.next_testimonials {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot_testimonials {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

@media (min-width: 770px) {
    #testimonials {
        padding: 90px 32px;
    }
    .testimonials-header h2 { 
        font-size: 41px;
    }
    .prev_testimonials:hover, .next_testimonials:hover {
    background-color: rgba(0,0,0,0.8);
}
}
@media(min-width: 990px) {
    #testimonials {
        padding: 90px 40px;
    }
    .testimonials-header h2 { 
        font-size: 48px;
    }
}


.social_media {
    background-image: linear-gradient(to top,rgba(126, 114, 187, 0.663), rgba(126, 114, 187, 0.663)), url(../img/social_media_background.jpg);
    background-size: cover;
    background-position: center;
    max-height: 330px;
    padding: 90px 24px;
}
.social_media h2 {
    font-size: 34px;
    font-family: Prata, sans-serif;
    color: white;
    text-align: center;
}
.social_media_icon {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 50px 15px 0;
}
.social_media_icon a img {
    height: 13px;
    width: 13px;
}
.social_media_icon li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e72bb;
    border-radius: 15%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 38px;
    height: 38px;
    margin-left: 15px;
}
@media (min-width: 770px) {
    .social_media{
        padding: 90px 32px;
    }
    .social_media h2 { 
        font-size: 41px;
    }
}
@media(min-width: 990px) {
    .social_media{
        padding: 90px 40px;
    }
    .social_media h2 { 
        font-size: 48px;
    }
}
#contacts {
    background: url(../img/treatmens-background.png) center center /cover;
    max-height: 843px;
    display: flex;
    flex-direction: column;
    padding: 90px 24px;
}

.contacts_text h2 {
    font-size: 34px;
    font-family: Prata, sans-serif;
    color: var(--main-color);
    text-align: left;
    font-weight: 400;
    margin-bottom: 20px;
}
.contacts_text p {
    font-size: 18px;
    color: var(--second-color);
    text-align: left;
    line-height: 27px;
    margin: 20px 0;
}
table {
    margin: 20px 0;
}
table th {
    display: block;
    font-size: 22px;
    color: #7f73bb;
    line-height: 37.4px;
    margin: 10px 0;
    text-align: left;
}
table td {
    display: block;
    font-size: 18px;
    color: #171928;
    text-align: left;
    margin: 10px 0;
}
.form_container {
    background-color: white;
    text-align: center;
    padding: 40px;
}
input {
    width: 100%;
    height: 38px;
    margin: 15px 0;
    border-radius: 20px;
    background-color: #1719281f;
    border-style: none;
}
.form_container button {
    width: 100%;
    height: 38px;
    margin: 15px 0;
    border-radius: 20px;
    background-color: #7f73bb;
    border-style: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
@media (min-width: 770px) {
    #contacts {
        flex-direction: row;
        justify-content: space-between;
        padding: 90px 32px;
    }
    .contacts_text {
        width: 50%;
    }
    .contacts_text h2 { 
        font-size: 41px;
    }
    table th {
        display: table-cell;
        
    } 
    table td {
        display: table-cell;
        padding-left: 20px;
    }
    .form_container {
        width: 50%;
    }
}
@media(min-width: 990px) {
    #contacts {
        padding: 90px 40px;
    }
    .contacts_text h2 { 
        font-size: 48px;
    }
}


.map {
    background-image: linear-gradient(to top,rgba(126, 114, 187), rgba(126, 114, 187, 0.663)), url(../img/footer_background.jpg);
    background-size: cover;
    background-position: center;
    max-height: 660px;
    padding: 90px 24px;
}
iframe {
    width: 100%;
}
@media (min-width: 770px) {
    .map {
        padding: 90px 32px;
    }
}
@media (min-width: 990px) {
    .map {
        padding: 90px 40px;
    }
}


.footer_container {
    max-height: 78px;
    background-color: #7e72bb;
    padding: 15px 24px;
}
.footer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
}
.reserved {
    margin: 5px 0;
}
@media (min-width: 770px) {
    .footer_container {
        padding: 15px 32px;
}
    .footer_item {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 990px) {
    .footer_container {
        padding: 15px 40px;
    }
}