@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Prata&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Montserrat, sans-serif;
    --main-color: #23263a;
    --second-color: #646c8f;
}
body {
    max-width: 1440px;
    margin: auto;
}
.main_header_mobile {
    display: flex;
    justify-content: space-between;
    height: 88px;
    padding-top: 20px;
}
.name {
    font-family: Prata, serif;
    font-size: 26px;
    margin-left: 30px;
    margin-top: 2px;
}
#menu_toggle {
    opacity: 0;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
    visibility: visible;
}
.menu_btn {
    display: block;
    position: relative;
    right: 30px;
    width: 24px;
    height: 16px;
    z-index: 1;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #171928;
}
.menu_btn > span::before {
    content: '';
    top: -7px;
}
.menu_btn > span::after {
    content: '';
    top: 7px;
}
.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    list-style: none;
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
}
.menu_box nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.menu_box nav li {
    text-decoration: none;
    margin-top: 25px;
}
.menu_box nav a{
    text-decoration: none;
    color: #23263a;
    font-weight: 500;
    font-size: 18px;
}
.tel{
    margin-top: 20px;
}
.tel a {
    color: #b5b5b5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.social-media-icon  {
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-media-icon a img {
    height: 13px;
    width: 13px;
    margin: 20px 10px;
}
.header-button button{
    background-color: white;
    border-color:  rgb(251, 168, 127);
    border-style: solid;
    border-radius: 40px;
    height: 38px;
    width: 145px;
    font-size: 14px;
    font-weight: 700;
}
.deskpot-version {
    display: none;
}
@media (min-width: 990px) {
    .deskpot-version {
        display: block;
    }
    .main_header_mobile {
        display: none;
    }
    .subheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 74px 0 74px;
        height: 42px;
        background-color: rgb(127, 115, 187);
        }
    .tel {
        margin-top: 0;
    }
    .tel a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
    }
    .subheader .social-media-icon {
        display: flex;
        list-style-type: none;
    }
    .social-media-icon a {
        height: 13px;
        width: 13px;
    }
    .social-media-icon a img {
        display: flex;
        height: 13px;
        width: 13px;
        margin: 0;
    }
    .social-media-icon li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 15%;
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }
    .main_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 132px;
        margin: 0 40px;
    }
    .name {
        font-family: Prata, serif;
        font-size: 26px;
        margin-top: 0;
    }
    .main_header nav {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .main_header nav ul{
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        line-height: 30px;
    }
    .main_header nav li {
        font-size: 14px;
        font-weight: 500;
    }
    .main_header nav a{
        text-decoration: none;
        color: #23263a;
        margin: 0 20px;
    }
    .header-button button{
        background-color: white;
        border-color:  rgb(251, 168, 127);
        border-style: solid;
        border-radius: 15px;
        height: 50px;
        width: 113px;
        font-size: 14px;
        font-weight: 700;
        margin-right: 30px;
    }
    .header-button button:hover{
        background-color: rgb(251, 168, 127);
        cursor: pointer;
        color: white;
    }
}
@media (min-width: 1280px) {
    .main_header {
        height: 86px;
    }
    .header-button button {
        border-radius: 30px;
        height: 34px;
        width: 140px;
    }
}

.promo {
    background: url(../img/promo-background.png ) center center /cover no-repeat;
    height: 686px; 
    
}
.promo-text {
    padding: 100px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.promo-text h1 {
    font-family: Prata, serif;
    font-size: 48px; 
    color: var(--main-color);
}
.promo-text p {
    font-size: 20px;
    color: #646c8f;
    line-height: 32px;
    margin-top: 20px;
}
.promo-text button {
    margin-top: 50px;
    background-color: white;
    color: #333758;
    border-style: none;
    border-radius: 40px;
    height: 57px;
    width: 204px;
    font-size: 16px;
    font-weight: 500;
}
.promo-text button:hover {
    background-color: rgb(127, 115, 187);
    color: white;
    cursor: pointer;
}

@media (min-width: 990px) {
    .promo {
    height: 777px; 
    }
    .promo-text h1 {
    font-size: 56px;
    font-weight: 400;
    } 
    .promo-text {
        padding: 170px 70px;

    }
}


#about_me {
    display: flex;
    flex-direction: column;
    height: 834px;
    padding: 90px 24px ;
    
}
.img-block {
    display: block;
    position: relative;
    overflow: hidden;
    width: initial;
    height: initial;
    min-height: 220px;
    min-width: 366px;
}
.img-block img {
    width: 100%;
    position: absolute;
    max-width: initial;
    max-height: initial;
}
.text_about_me h2 {
    font-family: Prata, serif;
    font-size: 34px;
    margin-top: 45px;
}
.text_about_me p {
    color: rgb(108,110,127);
    margin-top: 25px;
    font-size: 18px;
    line-height: 27px;     
}

@media( min-width: 790px) {
    #about_me {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
        height: 621px;
        padding: 95px 24px ;
    }
    .text_about_me {
        width: 50%;
        margin: 0 20px;
        
    }
    .text_about_me h2 {
        font-size: 41px;
    }

}
@media( min-width: 990px){
    #about_me {
        height: 631px;
        padding: 120px 0px ;
    }
    .img-block {
        display: block;
        position: relative;
        overflow: hidden;
        height: 265px;
        width: 462px;
        padding: 0 15px;
    }
    .text_about_me h2 {
        font-size: 48px;
        margin: 0;
    }
}
    @media (min-width: 1130px){
    .img-block {
        display: block;
        position: relative;
        overflow: hidden;
        height: 313px;
        width: 520px;
    }
}

#treatments {
    max-height: 3000px;
    background: url(../img/treatmens-background.png) center center ;
    padding-bottom: 50px;
}
#treatments h2 {
    font-family: Prta, serif;
    font-size: 48px;
    text-align: center;
    padding-top: 100px;
}
#treatments .treatments-subtitle {
    color: var(--second-color);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}
.teatment-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.treatmen-window {
    position: relative;
    overflow: hidden;
    width: initial;
    margin: 15px 15px;
    border-width: 20px;
    border-color: white;
    border-style: solid;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.treatmen-window img {
    display: block;
    width: 100%;
    object-fit: cover;
    left: -30%;
    opacity:0.2; 
} 
.treatment-text {
    position: absolute;
    top:20%;
    z-index: 2;
    font-family: Montsserat, sans-serif;
    font-size: 18px;
    color:  rgb(251, 168, 127);
    text-align: center;
    align-items: center;
}
.treatment-text h4{
    margin-bottom: 10px;
}
.treatment-text p{
    color: white;
}


@media (min-width: 660px) {
    .teatment-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
     .treatment-text {
        top: 5%;
     }
}
 
@media (min-width: 990px) {
  
    .treatmen-window img {
        left: -35%;
        opacity: 1;
    }
    .treatment-text {
        top: 10%;
        z-index: -1;
    }
    .treatmen-window img:hover {
        opacity:0.2; 
    }
    .teatment-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery {
    background: url(../img/galery-background.png) center center /cover;
    min-height: 403px;
    padding: 0 50px;
}
.gallery h2 {
    font-family: Prata, serif;
    font-size: 34px;
    color: var(--main-color);
    font-weight: 400;
    text-align: center;
    margin: 50px 0;
    
}
.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    /* padding: 0 50px; */
    
}
.slides_item img {
    width: 100%;
    object-fit: cover;
}
.slides_item {
    display: none;
    flex: 0 0 50%; 
    max-width: 50%; 
    margin: 0 15px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    left: 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.gallery form{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.gallery button {
    background-color: white;
    border-color:  rgb(251, 168, 127);
    border-style: solid;
    border-radius: 15px;
    height: 38px;
    width: 131px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}