@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Prata&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Montserrat, sans-serif;
    --main-color: #23263a;
    --second-color: #646c8f;
}
body {
    max-width: 1365px;
    margin: auto;
}
.main_header_mobile {
    display: flex;
    justify-content: space-between;
    height: 88px;
    margin-top: 20px;
}
.name {
    font-family: Prata, serif;
    font-size: 26px;
    margin-left: 30px;
    margin-top: 2px;
}
#menu_toggle {
    opacity: 0;
}
#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .menu_box {
    visibility: visible;
}
.menu_btn {
    display: block;
    position: relative;
    right: 30px;
    width: 24px;
    height: 16px;
    z-index: 1;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #171928;
}
.menu_btn > span::before {
    content: '';
    top: -7px;
}
.menu_btn > span::after {
    content: '';
    top: 7px;
}
.menu_box {
    display: block;
    position: fixed;
    visibility: hidden;
    list-style: none;
    text-align: center;
    width: 100%;
    height: 100%;
    left: 0;
}
.menu_box nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.menu_box nav li {
    text-decoration: none;
    margin-top: 25px;
}
.menu_box nav a{
    text-decoration: none;
    color: #23263a;
    font-weight: 500;
    font-size: 18px;
}
.tel{
    margin-top: 20px;
}
.tel a {
    color: #b5b5b5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.social-media-icon  {
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-media-icon a img {
    height: 13px;
    width: 13px;
    margin: 20px 10px;
}
.header-button button{
    background-color: white;
    border-color:  rgb(251, 168, 127);
    border-style: solid;
    border-radius: 40px;
    height: 38px;
    width: 145px;
    font-size: 14px;
    font-weight: 700;
}
.deskpot-version {
    display: none;
}
@media (min-width: 990px) {
    .deskpot-version {
        display: block;
    }
    .main_header_mobile {
        display: none;
    }
    .subheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 74px 0 74px;
        height: 42px;
        background-color: rgb(127, 115, 187);
        }
    .tel {
        margin-top: 0;
    }
    .tel a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
    }
    .subheader .social-media-icon {
        display: flex;
        list-style-type: none;
    }
    .social-media-icon a {
        height: 13px;
        width: 13px;
    }
    .social-media-icon a img {
        display: flex;
        height: 13px;
        width: 13px;
        margin: 0;
    }
    .social-media-icon li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 15%;
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }
    .main_header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 132px;
        margin: 0 40px;
    }
    .name {
        font-family: Prata, serif;
        font-size: 26px;
        margin-top: 0;
    }
    .main_header nav {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* width: 593px;
        margin: 8px 25px ; */
    }
    .main_header nav ul{
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        line-height: 30px;
    }
    .main_header nav li {
        font-size: 14px;
        font-weight: 500;
    }
    .main_header nav a{
        text-decoration: none;
        color: #23263a;
        margin: 0 20px;
    }
    .header-button button{
        background-color: white;
        border-color:  rgb(251, 168, 127);
        border-style: solid;
        border-radius: 20px;
        height: 54px;
        width: 117px;
        font-size: 14px;
        font-weight: 700;
        margin-right: 30px;
    }
    .header-button button:hover{
        background-color: rgb(251, 168, 127);
        cursor: pointer;
        color: white;
    }
}
/* .subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 74px 0 74px;
    height: 42px;
    background-color: rgb(127, 115, 187);
}
.tel a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    
}
.subheader .social-media-icon {
    display: flex;
    list-style-type: none;
    
}
.social-media-icon a {
    height: 13px;
    width: 13px;
    
}
.social-media-icon a img {
    display: flex;
    height: 13px;
    width: 13px;
}
.social-media-icon li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15%;
    width: 25px;
    height: 25px;
    margin-left: 15px;
}
.main_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 132px;
}
.name {
    font-family: Prata, serif;
    font-size: 26px;
    padding-left: 30px;
}
.main_header nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.main_header nav ul{
    display: flex;
    list-style-type: none;
}
.main_header nav li {
    font-size: 14px;
}
.main_header nav a{
    text-decoration: none;
    color: #23263a;
    margin: 8px ;

}
.header-button button{
    background-color: white;
    border-color:  rgb(251, 168, 127);
    border-style: solid;
    border-radius: 40px;
    height: 38px;
    width: 145px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 30px;
}
.header-button button:hover{
    background-color: rgb(251, 168, 127);
    cursor: pointer;
    color: white;
} */
/* .promo {
    background: url(../img/promo-background.png ) center center /cover no-repeat;
    height: 777px;
}
.promo-text {
    padding-top: 160px;
    padding-left: 70px;
}
.promo-text h1 {
    font-family: Prata, serif;
    font-size: 56px;
}
.promo-text p {
    font-size: 20px;
    color: #646c8f;
    line-height: 32px;
    margin-top: 20px;
}
.promo-text button {
    margin-top: 50px;
    background-color: white;
    color: #333758;
    border-style: none;
    border-radius: 40px;
    height: 57px;
    width: 204px;
    font-size: 16px;
    font-weight: 500;
}
.promo-text button:hover {
    background-color: rgb(127, 115, 187);
    color: white;
    cursor: pointer;
}
#about_me {
    display: flex;
    flex-direction: row;
    height: 343px;
    margin: 120px 80px ;
        
}
.img-block {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 343px;
    width: 570px;
    margin: 0 15px;
}
.img-block img {
    width: 100%;
    position: absolute;
    max-width: initial;
    max-height: initial;
}
.text_about_me {
    width: 50%;
    margin: 0 15px;
}
.text_about_me h2 {
    font-family: Prata, serif;
    font-size: 48px;
    margin-top: 5px;
}
.text_about_me p {
    color: rgb(108,110,127);
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;     
}
#treatments {
    height: 1211px;
    background: url(../img/treatmens-background.png) center center ;
}
#treatments h2 {
    font-family: Prta, serif;
    font-size: 48px;
    text-align: center;
    padding-top: 100px;
}
#treatments p {
    color: #646c8f;
    font-size: 20px;
    line-height: 32px;
    text-align: center;

}
.teatment-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 15px;
    margin-top: 30px;
}
.teatments-first-line {
    display: flex;
    flex-direction: row;
}
.teatments-second-line {
    display: flex;
    flex-direction: row;
}
.treatmen-window {
    position: relative;
    overflow: hidden;
    width: 330px;
    height: 352px;
    margin: 15px 15px;
    border-width: 20px;
    border-color: white;
    border-style: solid
}
.treatmen-window img {
    width: 160%;
    position: absolute;
    max-width: initial;
    max-height: initial;
    left: -30%;
}  */